* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
span,
input {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
:root {
  --customViolet: #b668e7;
  --customLightViolet: #ead0fc;
  --customBlue: #3859ee;
  --customLightBlue: #bad0fc;
}
